server:
  port: 9090
spring:
  datasource:
    url: jdbc:mariadb://localhost:3307/locacao-app
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update

springdoc:
  swagger-ui:
    path: /doc