server:
  port: 9090
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/locacao-app
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
  data:
    web:
      pageable:
        default-page-size: 10
  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration

springdoc:
  swagger-ui:
    path: /doc

jwt:
  private:
    key: classpath:app.key
  public:
    key: classpath:app.pub
